---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import arrowLeftIcon from "../../assets/images/radix-icons/arrow-left.svg";
import personIcon from "../../assets/images/radix-icons/person.svg?raw";
import { playerCount } from "../../utils/helpers";
import type { ImageMetadata } from "astro";

export async function getStaticPaths() {
  const games = await getCollection("games");
  return games.map((game) => ({
    params: { id: game.id },
    props: { game },
  }));
}
const { game } = Astro.props;
const { Content } = await render(game);
const gameSetupImgPath = `/src/assets/images/game-setups/${game.id}.svg`;
const gameSetupImgs = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/game-setups/*.svg",
);
if (!gameSetupImgs[gameSetupImgPath])
  throw new Error(
    `"${game.id}" does not exist in glob: "src/assets/images/game-setups/*.svg"`,
  );
---

<style>
  a {
    display: inline-flex;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: var(--text);
    text-decoration: none;
  }
  article {
    color: var(--text);
    max-width: 36rem;
    margin: 0 auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.375rem;
    line-height: 1.5rem;
    background-color: white;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    @media (prefers-color-scheme: dark) {
      background-color: rgb(38 38 38);
      box-shadow: none;
    }
  }
  #aliases,
  #player-count {
    color: var(--text-light);
  }
  #game-setup {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 24rem;
    height: fit-content;
    max-height: 16rem;
  }
  #card-values {
    background-color: rgb(252, 211, 77);
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    width: fit-content;
    margin-top: 1rem;
    color: black;
    p {
      margin: 0;
    }
    p + p {
      margin-top: 0.5rem;
    }
    .card-value {
      font-weight: 500;
      margin-left: 0.75rem;
      float: right;
    }
  }
</style>
<BaseLayout>
  <title slot="title">{game.data.name} - Kortspillguiden</title>
  <a href="/">
    <Image src={arrowLeftIcon} width="18" alt="" />
    Oversikt
  </a>
  <article>
    <h1>{game.data.name}</h1>
    {
      game.data.aliases && (
        <p id="aliases">
          eller <i>{game.data.aliases.join(", ")}</i>
        </p>
      )
    }
    <p id="player-count">
      <Fragment set:html={personIcon} />
      {playerCount(game.data.minPlayers, game.data.maxPlayers, true)}
    </p>
    <Image id="game-setup" src={gameSetupImgs[gameSetupImgPath]()} alt="" />
    {
      game.data.lowestCard && game.data.highestCard && (
        <div id="card-values">
          <p>
            Laveste kort: <span class="card-value">{game.data.lowestCard}</span>
          </p>
          <p>
            Høyeste kort:
            <span class="card-value">{game.data.highestCard}</span>
          </p>
        </div>
      )
    }
    <Content />
  </article>
</BaseLayout>
